# Local DynamoDB/S3 data
local/

# Node & CDK build artifacts
node_modules/
cdk.out/
package-lock.json

# Python virtual environments (if used for Lambda or ECS local testing)
venv/
.venv
.env/
__pycache__/
*.pyc

# Lambda build artifacts
cdk/lambda/lambda.zip
*.zip

# Docker build cache
*.log
*.tmp
*.bak

# Frontend (Next.js)
FoodTok_Frontend/node_modules
FoodTok_Frontend/.pnp
FoodTok_Frontend/.pnp.*
FoodTok_Frontend/.yarn/*
!FoodTok_Frontend/.yarn/patches
!FoodTok_Frontend/.yarn/plugins
!FoodTok_Frontend/.yarn/releases
!FoodTok_Frontend/.yarn/versions
FoodTok_Frontend/coverage
FoodTok_Frontend/.next/
FoodTok_Frontend/out/
FoodTok_Frontend/build
FoodTok_Frontend/*.pem
FoodTok_Frontend/npm-debug.log*
FoodTok_Frontend/yarn-debug.log*
FoodTok_Frontend/yarn-error.log*
FoodTok_Frontend/.pnpm-debug.log*
FoodTok_Frontend/.env*
FoodTok_Frontend/.vercel
FoodTok_Frontend/*.tsbuildinfo
FoodTok_Frontend/next-env.d.ts

# IDE/editor metadata
.vscode/
.idea/
*.swp

# System files
Thumbs.db
.DS_Store

# test result record
test-output.json

# Environment variables
.env
.env.local
.env.*.local
