# Local DynamoDB/S3 data
local/

# Node & CDK build artifacts
node_modules/
cdk.out/
package-lock.json

# Python virtual environments (if used for Lambda or ECS local testing)
venv/
.env/
__pycache__/
*.pyc

# Lambda build artifacts
cdk/lambda/lambda.zip
*.zip

# Docker build cache
*.log
*.tmp
*.bak
.dockerignore

# IDE/editor metadata
.vscode/
.idea/
*.swp

# System files
Thumbs.db
.DS_Store